@charset "UTF-8";

.contato {
    background-color: var(--branco);
    padding: 1em;
}

.contato__titulo,
.contato__texto {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo{
    font-size: 18px;
    font-weight: 500;
}

.contato__texto {
    font-weight: 300;
    margin: 1em 0 1.5em 0;
}

.contato__email {
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 90%;
    padding: 1em;
    color: var(--azul);
}

.contato__email::placeholder {
    font-family: var(--fonte-principal);
    background: url(../img/Email.svg) no-repeat;
    color: var(--azul);
    padding-left: 3em;
    background-position: 0.5em;
}

@media screen and (min-width: 1024px) {
    .contato{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    
    .contato__descrição {
        margin: 1em 1.5em 0 1em;
        width: 30%;
    }
    
    
    .contato__titulo {
        font-size: 24px
    }

    .contato__email {
        width: 30%;
    }

}

@media screen and (min-width: 1728px) {
    .contato {
        padding: 3em 30vw;
    }
}